actionlib==1.12.1
angles==1.9.12
attrs==20.2.0
autobahn==20.12.3
Automat==20.2.0
base-local-planner==1.16.7
bondpy==1.8.5
camera-calibration==1.15.0
camera-calibration-parsers==1.11.13
catkin==0.7.28
catkin-pkg==0.4.22
certifi==2020.6.20
cffi==1.14.2
constantly==15.1.0
controller-manager==0.18.2
controller-manager-msgs==0.18.2
cryptography>=3.2
cv-bridge==1.13.0
cycler==0.10.0
diagnostic-analysis==1.9.7
diagnostic-common-diagnostics==1.9.7
diagnostic-updater==1.9.7
dill==0.3.2
distro==1.5.0
docutils==0.16
dynamic-reconfigure==1.6.3
engineering-notation==0.6.0
future==0.18.2
gazebo-plugins==2.8.7
gazebo-ros==2.8.7
gencpp==0.6.5
geneus==2.2.6
genlisp==0.4.16
genmsg==0.5.16
gennodejs==2.0.1
genpy==0.6.14
hyperlink==20.0.1
idna==2.10
image-geometry==1.13.0
incremental==17.5.0
interactive-markers==1.11.5
joblib==0.16.0
joint-state-publisher==1.12.15
joint-state-publisher-gui==1.12.15
kdl-parser-py==1.13.1
kiwisolver==1.2.0
laser-geometry==1.6.5
master-discovery-fkie==0.8.12
master-sync-fkie==0.8.12
matplotlib==3.3.1
message-filters==1.14.9
multiprocess==0.70.10
natsort==7.0.1
nmea-navsat-driver==0.5.2
numpy==1.19.1
pandas==1.1.1
pathos==0.2.6
Pillow==9.0.1
pkg-resources==0.0.0
pox==0.2.8
ppft==1.6.6.2
pycparser==2.20
pygame==1.9.6
PyHamcrest==2.0.2
pyparsing==2.4.7
python-dateutil==2.8.1
python-qt-binding==0.4.3
pytz==2020.1
PyYAML==5.4
qt-dotgraph==0.4.2
qt-gui==0.4.2
qt-gui-cpp==0.4.2
qt-gui-py-common==0.4.2
resource-retriever==1.12.6
robot-upstart==0.3.0
rosbag==1.14.9
rosboost-cfg==1.14.9
rosclean==1.14.9
roscreate==1.14.9
rosgraph==1.14.9
roslaunch==1.14.9
roslib==1.14.9
roslibpy==1.1.0
roslint==0.11.2
roslz4==1.14.9
rosmake==1.14.9
rosmaster==1.14.9
rosmsg==1.14.9
rosnode==1.14.9
rosparam==1.14.9
rospkg==1.2.8
rospy==1.14.9
rosserial-arduino==0.8.0
rosserial-client==0.8.0
rosserial-python==0.8.0
rosservice==1.14.9
rostest==1.14.9
rostopic==1.14.9
rosunit==1.14.9
roswtf==1.14.9
rqt-action==0.4.9
rqt-bag==0.4.14
rqt-bag-plugins==0.4.14
rqt-console==0.4.9
rqt-dep==0.4.9
rqt-graph==0.4.11
rqt-gui==0.5.2
rqt-gui-py==0.5.2
rqt-image-view==0.4.16
rqt-launch==0.4.8
rqt-logger-level==0.4.8
rqt-moveit==0.5.7
rqt-msg==0.4.8
rqt-nav-view==0.5.7
rqt-plot==0.4.9
rqt-pose-view==0.5.8
rqt-publisher==0.4.8
rqt-py-common==0.5.2
rqt-py-console==0.4.8
rqt-reconfigure==0.5.3
rqt-robot-dashboard==0.5.7
rqt-robot-monitor==0.5.13
rqt-robot-steering==0.5.10
rqt-runtime-monitor==0.5.7
rqt-rviz==0.6.0
rqt-service-caller==0.4.8
rqt-shell==0.4.9
rqt-srv==0.4.8
rqt-tf-tree==0.6.0
rqt-top==0.4.8
rqt-topic==0.4.11
rqt-web==0.4.8
rviz==1.13.13
scikit-learn==0.23.2
scipy==1.5.2
sensor-msgs==1.12.7
six==1.15.0
smach==2.0.1
smach-ros==2.0.1
smclib==1.8.5
tf==1.12.1
tf-conversions==1.12.1
tf2-geometry-msgs==0.6.5
tf2-kdl==0.6.5
tf2-py==0.6.5
tf2-ros==0.6.5
tf2-sensor-msgs==0.6.5
threadpoolctl==2.1.0
tk-tools==0.13.0
topic-tools==1.14.9
torch==1.6.0
torchvision==0.7.0
Twisted==22.4.0
txaio==20.4.1
urdfdom-py==0.4.3
xacro==1.13.8
zope.interface==5.1.0
